In [1]:
import pandas as pd
import numpy as np

In [2]:
accidents = pd.read_csv('../data/2019_clusters.csv')

In [3]:
accidents.head()

,x,y,accident_id,year,address,severity,accident_type,severity_numeric,borough_geo,timestamp,date,hour,month_name,month,day,cluster_id
0,-74.134363,4.579297,10472514,2019,KR 26-CL 52B S 2,Injury,Crash,8,TUNJUELITO,2019-01-11 14:20:00+00:00,2019-01-11,14,Jan,1,Fri,-1
1,-74.048819,4.665144,10472553,2019,CL 84-KR 8 2,Material damage,Crash,1,CHAPINERO,2019-01-11 11:30:00+00:00,2019-01-11,11,Jan,1,Fri,-1
2,-74.173301,4.615589,10472522,2019,KR 80-CL 53A S 2,Injury,Crash,8,KENNEDY,2019-01-11 23:20:00+00:00,2019-01-11,23,Jan,1,Fri,0
3,-74.025068,4.725288,10472569,2019,KR 7-CL 150 2,Material damage,Crash,1,USAQUEN,2019-01-11 06:30:00+00:00,2019-01-11,6,Jan,1,Fri,-1
4,-74.080770,4.670083,10472515,2019,CL 68-KR 58 2,Injury,Crash,8,BARRIOS UNIDOS,2019-01-10 07:20:00+00:00,2019-01-10,7,Jan,1,Thu,-1

In [4]:
df_positive = accidents[['x','y','date','hour', 'borough_geo', 'address', 'cluster_id']].copy()

In [5]:
df_positive.date = pd.to_datetime(df_positive.date)

In [6]:
df_positive['day_of_year'] = df_positive.date.dt.dayofyear

In [7]:
df_positive['x'] = round(df_positive['x'], 8)
df_positive['y'] = round(df_positive['y'], 8)

In [8]:
df_positive['coords'] = df_positive[['x', 'y']].apply(lambda x: ';'.join((str(x['x']), str(x['y']))), axis = 1)

In [9]:
df_positive = df_positive[['x','y','hour', 'day_of_year','borough_geo', 'coords', 'address', 'cluster_id']].copy()

In [10]:
negatives = pd.read_csv("../data/dataset_2019_with_negatives.csv")

In [20]:
negatives.head()

,x,y,timestamp,date,year,month,day,day_of_year,hour,address,...,windBearing,cloudCover,uvIndex,visibility,pressure,windGust,precipType,ozone,precipAccumulation,doy
0,-74.134363,4.579297,2019-01-11 14:20:00,2019-01-11,2019,1,11,11,14,KR 26-CL 52B S 2,...,167.0,0.89,4.0,13.489,1018.0,1.66,rain,239.8,NaN,11
1,-74.139488,4.573233,2019-01-11 14:00:00,2019-01-11,2019,1,11,11,14,AV AVENIDA BOYACA-KR 24 2,...,167.0,0.89,4.0,13.489,1018.0,1.66,rain,239.8,NaN,11
2,-74.048819,4.665144,2019-01-11 11:30:00,2019-01-11,2019,1,11,11,11,CL 84-KR 8 2,...,127.0,0.80,0.0,14.019,1018.0,1.52,rain,241.0,NaN,11
3,-74.173301,4.615589,2019-01-11 23:20:00,2019-01-11,2019,1,11,11,23,KR 80-CL 53A S 2,...,10.0,0.81,0.0,6.814,1014.8,2.07,rain,237.9,NaN,11
4,-74.141503,4.610874,2019-01-11 23:00:00,2019-01-11,2019,1,11,11,23,KR 72H-CL 37D S 02,...,10.0,0.81,0.0,6.814,1014.8,2.07,rain,237.9,NaN,11

In [13]:
negatives.date = pd.to_datetime(negatives.date)
negatives['doy']  = negatives.date.dt.dayofyear

In [23]:
negatives = negatives.drop(columns=['day_of_year'])

In [24]:
negatives.rename(columns={'doy': 'day_of_year'}, inplace=True)

In [31]:
negatives = negatives[['x', 'y', 'timestamp', 'date', 'year', 'day_of_year', 'month', 'day', 'hour',
       'address', 'severity', 'accident_type', 'severity_numeric', 'borough',
       'cluster_id', 'sample_type', 'area_km2', 'population',
       'population_density', 'timestamp_darksky', 'summary', 'icon',
       'precipIntensity', 'precipProbability', 'temperature',
       'apparentTemperature', 'dewPoint', 'humidity', 'windSpeed',
       'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'pressure',
       'windGust', 'precipType', 'ozone', 'precipAccumulation']]

In [32]:
negatives.to_csv("../data/dataset_2019_with_negatives.csv", index=None)

In [19]:
negatives[negatives.doy != negatives.day_of_year][['sample_type','date', 'day_of_year', 'doy']]

       sample_type       date  day_of_year  doy
5                1 2019-01-11           98   11
9                1 2019-01-10           98   10
15               1 2019-01-09           11    9
16               1 2019-01-09          222    9
20               1 2019-01-10           11   10
...            ...        ...          ...  ...
66487            1 2019-12-03          187  337
66489            1 2019-12-04          341  338
66490            1 2019-12-03          177  337
66498            1 2019-12-20          177  354
66500            1 2019-12-21          183  355

[28947 rows x 4 columns]

In [41]:
def generate_negative_sample(row):
    num_samples = 0
    while num_samples < 5:
        randcol = np.random.choice(np.array(['hour', 'day_of_year', 'coords']))
        replacement = df_positive.sample()
        negative_sample = row
        negative_sample[randcol] = replacement[randcol].values[0]
        if randcol == 'coords':
            negative_sample['borough_geo'] = replacement['borough_geo'].values[0]
            negative_sample['address']  = replacement['address'].values[0]
            negative_sample['cluster_id']  = replacement['cluster_id'].values[0]

        ncoords = negative_sample['coords']
        nhour = negative_sample['hour']
        nday = negative_sample['day_of_year']
        
        if df_positive.loc[(df_positive['coords'] == ncoords) & (df_positive['hour'] == nhour) & (df_positive['day_of_year'] == nday)].empty:
            yield negative_sample[['hour', 'day_of_year','coords','address', 'borough_geo', 'cluster_id']].values.tolist()
            num_samples += 1
        else:
            print('found coincidence', negative_sample[['hour', 'day_of_year','coords']].values.tolist())

In [50]:
my_list = [generate_negative_sample(df_positive.iloc[x]) for x in df_positive.index]

In [51]:
%%time
from itertools import chain
neg_list = list(chain.from_iterable(my_list))

 '-74.06784898;4.59400438']
found coincidence [11, 114, '-74.16646529;4.64592276']
found coincidence [5, 130, '-74.08300758;4.67338808']
found coincidence [15, 7, '-74.04531121;4.76052285']
found coincidence [6, 14, '-74.13260046;4.68008907']
found coincidence [18, 12, '-74.07256652;4.73109895']
found coincidence [13, 202, '-74.0715996;4.71125451']
found coincidence [17, 46, '-74.15129981;4.57218179']
found coincidence [7, 49, '-74.10057645;4.60103502']
found coincidence [22, 48, '-74.08907745;4.63390439']
found coincidence [17, 72, '-74.09587207;4.6224441']
found coincidence [16, 72, '-74.13710112;4.61754212']
found coincidence [8, 220, '-74.09498628;4.66424328']
found coincidence [17, 73, '-74.14307918;4.61143039']
found coincidence [13, 298, '-74.14725628;4.63450859']
found coincidence [17, 34, '-74.09174608;4.64165433']
found coincidence [16, 36, '-74.10477628;4.66712459']
found coincidence [8, 122, '-74.09182109;4.67661916']
found coincidence [21, 226, '-74.09498628;4.66424328']
found coincidence [15, 113, '-74.14859041;4.61566603']
found coincidence [18, 119, '-74.10792264;4.60694375']
found coincidence [16, 115, '-74.07634891;4.61152996']
found coincidence [8, 120, '-74.062744;4.6685193']
found coincidence [13, 76, '-74.0823508;4.73686218']
found coincidence [13, 226, '-74.11516191;4.71335734']
found coincidence [17, 357, '-74.12207111;4.64010786']
found coincidence [17, 152, '-74.12627952;4.72776434']
found coincidence [10, 203, '-74.07146394;4.66980524']
found coincidence [7, 117, '-74.08642715;4.58682656']
found coincidence [7, 151, '-74.11354574;4.65766425']
found coincidence [11, 151, '-74.03544772;4.82063772']
found coincidence [6, 102, '-74.07659127;4.65184577']
found coincidence [16, 57, '-74.03507519;4.70820561']
found coincidence [12, 178, '-74.05465964;4.69999206']
found coincidence [19, 43, '-74.13544046;4.61416208']
found coincidence [5, 10, '-74.14531391;4.66565564']
found coincidence [7, 115, '-74.09024403;4.61616263']
found coincidence [15, 148, '-74.06356969;4.63698947']
found coincidence [10, 341, '-74.02864362;4.70774031']
found coincidence [9, 179, '-74.15856187;4.58283248']
found coincidence [12, 43, '-74.13810866;4.63039049']
found coincidence [15, 8, '-74.16326848;4.63495773']
found coincidence [14, 198, '-74.0760193;4.6011943']
found coincidence [8, 254, '-74.09831704;4.60666703']
found coincidence [14, 198, '-74.02923715;4.71694502']
found coincidence [13, 337, '-74.04784271;4.67407781']
found coincidence [7, 340, '-74.13031756;4.60727871']
found coincidence [10, 71, '-74.08494501;4.58938026']
found coincidence [15, 70, '-74.0628316;4.65363698']
found coincidence [9, 5, '-74.09046969;4.64231434']
found coincidence [19, 5, '-74.16752526;4.623778']
found coincidence [16, 247, '-74.15468707;4.64496968']
found coincidence [16, 6, '-74.11132875;4.74300952']
found coincidence [13, 1, '-74.05471491;4.69965746']
found coincidence [13, 304, '-74.11448906;4.61554114']
found coincidence [14, 294, '-74.07224215;4.65847648']
found coincidence [14, 294, '-74.07224215;4.65847648']
found coincidence [13, 294, '-74.03259965;4.76036609']
found coincidence [21, 46, '-74.04408521;4.76342029']
found coincidence [12, 327, '-74.10396644;4.67417145']
found coincidence [15, 70, '-74.09955975;4.60022785']
found coincidence [17, 185, '-74.14525013;4.59493883']
found coincidence [17, 302, '-74.193584;4.62517825']
found coincidence [15, 302, '-74.0678667;4.6942654']
found coincidence [17, 300, '-74.04318458;4.67253253']
found coincidence [17, 300, '-74.02422076;4.76002119']
found coincidence [9, 49, '-74.08385058;4.69688046']
found coincidence [9, 49, '-74.05458128;4.68641634']
found coincidence [8, 4, '-74.06632035;4.72564494']
found coincidence [7, 226, '-74.11442109;4.6842136']
found coincidence [6, 178, '-74.11211746;4.53682542']
found coincidence [6, 178, '-74.11211746;4.53682542']
found coincidence [13, 218, '-74.11569752;4.6616531']
found coincidence [20, 68, '-74.14463286;4.59897142']
found coincidence [13, 3, '-74.02731182;4.76285983']
found coincidence [17, 294, '-74.11539341;4.61329021']
found coincidence [13, 250, '-74.02731182;4.76285983']
found coincidence [12, 49, '-74.1314519;4.68976793']
found coincidence [12, 301, '-74.0851889;4.62874649']
found coincidence [12, 35, '-74.07376792;4.60986724']
found coincidence [15, 120, '-74.04189118;4.77727112']
found coincidence [6, 115, '-74.11192435;4.69248478']
found coincidence [12, 117, '-74.14537845;4.56947572']
found coincidence [19, 122, '-74.12341624;4.6186305']
found coincidence [6, 94, '-74.09366508;4.71877179']
found coincidence [6, 64, '-74.18720221;4.60139338']
found coincidence [8, 232, '-74.08782747;4.67446584']
found coincidence [13, 77, '-74.04324804;4.69656519']
found coincidence [7, 359, '-74.09269285;4.60237129']
found coincidence [8, 298, '-74.06682445;4.64423266']
found coincidence [17, 301, '-74.09659085;4.71192016']
found coincidence [18, 36, '-74.05403716;4.70548056']
found coincidence [14, 36, '-74.09644272;4.72677056']
found coincidence [14, 73, '-74.06448717;4.66572306']
found coincidence [20, 104, '-74.16248178;4.61516907']
found coincidence [15, 259, '-74.12163536;4.62578149']
found coincidence [16, 284, '-74.09768481;4.60729177']
found coincidence [16, 141, '-74.06283511;4.63954855']
found coincidence [5, 298, '-74.07302341;4.61525702']
found coincidence [11, 36, '-74.13843549;4.56406215']
found coincidence [17, 43, '-74.12133414;4.62112076']
found coincidence [10, 45, '-74.05797876;4.65836617']
found coincidence [16, 99, '-74.13906595;4.56235364']
found coincidence [20, 261, '-74.0975593;4.63779218']
found coincidence [9, 157, '-74.08937565;4.67196066']
found coincidence [10, 220, '-74.10418655;4.65553684']
found coincidence [21, 248, '-74.09524237;4.74831509']
found coincidence [14, 249, '-74.11183058;4.57968461']
found coincidence [16, 347, '-74.08848203;4.66018823']
found coincidence [9, 327, '-74.13229323;4.61586634']
found coincidence [12, 326, '-74.12311546;4.60041722']
found coincidence [18, 40, '-74.08085554;4.59221945']
found coincidence [14, 249, '-74.12310093;4.6736116']
found coincidence [14, 250, '-74.14459068;4.67145634']
found coincidence [22, 316, '-74.10989358;4.5962972']
found coincidence [8, 165, '-74.07076888;4.61224536']
found coincidence [18, 317, '-74.10200605;4.62336882']
found coincidence [12, 350, '-74.10085734;4.60125577']
found coincidence [14, 347, '-74.10995423;4.67640733']
found coincidence [14, 39, '-74.14334825;4.56274746']
found coincidence [13, 197, '-74.06229502;4.69004972']
found coincidence [5, 197, '-74.10200938;4.61999615']
found coincidence [9, 204, '-74.15195045;4.67111375']
found coincidence [14, 345, '-74.11388218;4.58679668']
found coincidence [8, 18, '-74.05523002;4.70082757']
found coincidence [18, 67, '-74.07950461;4.58304669']
found coincidence [19, 66, '-74.06385768;4.72956157']
found coincidence [7, 67, '-74.11864725;4.6102887']
found coincidence [7, 66, '-74.11845512;4.57823785']
found coincidence [16, 215, '-74.04360763;4.68926083']
found coincidence [12, 173, '-74.15487801;4.68008353']
found coincidence [15, 33, '-74.17095117;4.61361595']
found coincidence [11, 37, '-74.08247731;4.60595245']
found coincidence [10, 93, '-74.04945117;4.67639107']
found coincidence [18, 93, '-74.12906641;4.56385483']
found coincidence [7, 140, '-74.14395485;4.67466838']
found coincidence [8, 138, '-74.12512962;4.56120512']
found coincidence [8, 138, '-74.07572553;4.61987055']
found coincidence [15, 196, '-74.12502755;4.72603611']
found coincidence [19, 317, '-74.06806365;4.64770172']
found coincidence [18, 317, '-74.07401678;4.60470669']
found coincidence [11, 343, '-74.12263262;4.65064343']
found coincidence [19, 345, '-74.04862806;4.68500052']
found coincidence [11, 68, '-74.07628429;4.59445451']
found coincidence [16, 93, '-74.08005407;4.71415489']
found coincidence [17, 190, '-74.05591409;4.69387615']
found coincidence [8, 208, '-74.15405306;4.63236137']
found coincidence [16, 208, '-74.15405306;4.63236137']
found coincidence [19, 209, '-74.08880935;4.61771171']
found coincidence [17, 261, '-74.09804914;4.57211227']
found coincidence [8, 85, '-74.08451406;4.64555717']
found coincidence [3, 133, '-74.156813;4.63993499']
found coincidence [22, 210, '-74.12709633;4.69755115']
found coincidence [13, 208, '-74.11565813;4.70303801']
found coincidence [12, 262, '-74.10054202;4.60344227']
found coincidence [10, 207, '-74.1124214;4.59447244']
found coincidence [16, 249, '-74.16612477;4.63174487']
found coincidence [11, 88, '-74.08416433;4.65367847']
found coincidence [13, 84, '-74.13403063;4.68155185']
found coincidence [13, 79, '-74.04335807;4.67110156']
found coincidence [7, 114, '-74.11963158;4.57602691']
found coincidence [16, 88, '-74.12555342;4.5692862']
found coincidence [16, 54, '-74.11017313;4.70821684']
found coincidence [11, 349, '-74.12230216;4.61655503']
found coincidence [11, 326, '-74.07989091;4.73465055']
found coincidence [14, 324, '-74.05790145;4.65462256']
found coincidence [14, 326, '-74.08754323;4.61946827']
found coincidence [14, 177, '-74.11471436;4.51064064']
found coincidence [20, 9, '-74.15812777;4.68530767']
found coincidence [0, 279, '-74.16473125;4.59602535']
found coincidence [13, 279, '-74.15049369;4.59534875']
found coincidence [15, 29, '-74.14472923;4.61883941']
found coincidence [10, 143, '-74.14680246;4.67670746']
found coincidence [16, 249, '-74.12303463;4.70685582']
found coincidence [7, 268, '-74.09869798;4.75277102']
found coincidence [22, 317, '-74.04596729;4.67072713']
found coincidence [10, 317, '-74.11970463;4.67898743']
found coincidence [8, 319, '-74.07003205;4.64002367']
found coincidence [11, 318, '-74.04729877;4.74537625']
found coincidence [10, 351, '-74.12000568;4.63872517']
found coincidence [13, 78, '-74.11241114;4.66765947']
found coincidence [5, 186, '-74.13874096;4.56207284']
found coincidence [11, 154, '-74.11560358;4.51306561']
found coincidence [17, 264, '-74.03065801;4.74429526']
found coincidence [7, 330, '-74.04529746;4.75809787']
found coincidence [9, 70, '-74.05342578;4.75298848']
found coincidence [10, 120, '-74.06155616;4.6607163']
found coincidence [17, 324, '-74.0686208;4.63020845']
found coincidence [15, 339, '-74.09661681;4.71501211']
found coincidence [8, 343, '-74.16339707;4.61865262']
found coincidence [14, 145, '-74.08422157;4.65388677']
found coincidence [17, 162, '-74.06261097;4.65038207']
found coincidence [8, 263, '-74.04655583;4.66457758']
found coincidence [9, 264, '-74.04649018;4.66453882']
found coincidence [10, 284, '-74.11282331;4.65189789']
found coincidence [8, 144, '-74.13985014;4.54920698']
found coincidence [17, 144, '-74.04273474;4.77574516']
found coincidence [7, 52, '-74.05891922;4.7613346']
found coincidence [18, 52, '-74.03416681;4.69083137']
found coincidence [6, 154, '-74.06892792;4.71806941']
found coincidence [6, 154, '-74.06892792;4.71806941']
found coincidence [13, 180, '-74.10692673;4.57924876']
found coincidence [11, 226, '-74.15730404;4.59641526']
found coincidence [14, 197, '-74.15622939;4.59386587']
found coincidence [6, 197, '-74.09828002;4.5654144']
found coincidence [16, 8, '-74.06192606;4.66027941']
found coincidence [13, 306, '-74.11327601;4.6827906']
found coincidence [12, 306, '-74.04672689;4.75151614']
found coincidence [18, 65, '-74.14550456;4.59020723']
found coincidence [18, 69, '-74.05591409;4.69387615']
found coincidence [18, 330, '-74.08907745;4.63390439']
found coincidence [16, 23, '-74.11492194;4.63442967']
found coincidence [8, 67, '-74.12447724;4.57710847']
found coincidence [13, 347, '-74.11448906;4.61554114']
found coincidence [15, 349, '-74.11600935;4.51728821']
found coincidence [15, 241, '-74.07738715;4.60692536']
found coincidence [14, 276, '-74.04590966;4.66716151']
found coincidence [14, 276, '-74.09583625;4.60581175']
found coincidence [8, 303, '-74.10448024;4.58993154']
found coincidence [5, 145, '-74.09246405;4.69735839']
found coincidence [6, 256, '-74.10245945;4.58140398']
found coincidence [11, 223, '-74.18225343;4.59699237']
found coincidence [7, 346, '-74.09741331;4.69619858']
found coincidence [11, 200, '-74.02984046;4.69832292']
found coincidence [21, 70, '-74.13836216;4.58975192']
found coincidence [8, 323, '-74.10083829;4.67057239']
found coincidence [7, 147, '-74.11448906;4.61554114']
found coincidence [14, 144, '-74.12092349;4.54418371']
found coincidence [13, 87, '-74.0849951;4.61226514']
found coincidence [19, 87, '-74.09736047;4.6375588']
found coincidence [6, 266, '-74.0944369;4.71003474']
found coincidence [14, 240, '-74.17836537;4.59711139']
found coincidence [10, 252, '-74.05772622;4.68162073']
found coincidence [19, 218, '-74.0741389;4.61253497']
found coincidence [19, 218, '-74.0741389;4.61253497']
found coincidence [15, 264, '-74.10340904;4.65383682']
found coincidence [15, 355, '-74.14959659;4.6773535']
found coincidence [21, 287, '-74.16625105;4.61704805']
found coincidence [11, 281, '-74.12632481;4.60648839']
found coincidence [17, 37, '-74.10844606;4.63242598']
found coincidence [13, 114, '-74.08202328;4.69945011']
found coincidence [11, 88, '-74.08416433;4.65367847']
found coincidence [17, 127, '-74.10857139;4.66936175']
found coincidence [17, 164, '-74.06426502;4.67509405']
found coincidence [18, 164, '-74.13685653;4.59306243']
found coincidence [14, 334, '-74.14319905;4.6210955']
found coincidence [14, 286, '-74.12024923;4.63438507']
found coincidence [16, 270, '-74.02962103;4.76580586']
found coincidence [8, 120, '-74.06155602;4.66644516']
found coincidence [7, 92, '-74.13741857;4.63467104']
found coincidence [10, 103, '-74.1364465;4.63839571']
found coincidence [14, 101, '-74.12962391;4.64654187']
found coincidence [13, 164, '-74.07220135;4.71088846']
found coincidence [14, 32, '-74.08291992;4.62437519']
found coincidence [11, 281, '-74.17264796;4.59220235']
found coincidence [14, 304, '-74.09999086;4.58614545']
found coincidence [7, 320, '-74.13756243;4.63067925']
found coincidence [15, 92, '-74.057214;4.68739178']
found coincidence [15, 43, '-74.09376542;4.56739214']
found coincidence [20, 44, '-74.16103793;4.61180037']
found coincidence [15, 179, '-74.04363074;4.70408559']
found coincidence [17, 180, '-74.14111742;4.65355465']
found coincidence [19, 180, '-74.04368698;4.73658841']
found coincidence [15, 181, '-74.1233916;4.62692691']
found coincidence [11, 343, '-74.11343849;4.71140174']
found coincidence [14, 343, '-74.09490801;4.61034362']
found coincidence [10, 344, '-74.11772218;4.51648001']
found coincidence [16, 361, '-74.11781394;4.71730873']
found coincidence [10, 61, '-74.08118759;4.70144835']
found coincidence [13, 62, '-74.06550642;4.73980556']
found coincidence [15, 330, '-74.1212536;4.63168613']
found coincidence [6, 270, '-74.1155023;4.63966946']
found coincidence [7, 270, '-74.13032635;4.74124351']
found coincidence [7, 270, '-74.07003502;4.65063515']
found coincidence [20, 273, '-74.05030391;4.69690989']
found coincidence [7, 269, '-74.10382669;4.66851602']
found coincidence [20, 273, '-74.08592734;4.62124985']
found coincidence [20, 273, '-74.08592734;4.62124985']
found coincidence [15, 277, '-74.10080734;4.57724326']
found coincidence [23, 191, '-74.12757636;4.69766031']
found coincidence [16, 141, '-74.12124313;4.53192645']
found coincidence [13, 139, '-74.07593332;4.60331688']
found coincidence [22, 11, '-74.16092267;4.63896792']
found coincidence [17, 311, '-74.1477303;4.56995242']
found coincidence [21, 40, '-74.09404204;4.68028464']
found coincidence [10, 123, '-74.04099653;4.72943472']
found coincidence [13, 279, '-74.06995855;4.70325427']
found coincidence [8, 279, '-74.13164836;4.60227818']
found coincidence [8, 355, '-74.0832142;4.60677369']
found coincidence [10, 352, '-74.07969608;4.59734529']
found coincidence [8, 190, '-74.07137415;4.68915457']
found coincidence [9, 311, '-74.10763507;4.54791883']
found coincidence [17, 143, '-74.15054722;4.64586']
found coincidence [11, 143, '-74.08911253;4.65993107']
found coincidence [11, 90, '-74.14154068;4.64249029']
found coincidence [20, 90, '-74.11516191;4.71335734']
found coincidence [17, 91, '-74.07489856;4.61322487']
found coincidence [8, 268, '-74.09785735;4.63773518']
found coincidence [13, 268, '-74.1340298;4.68150871']
found coincidence [8, 267, '-74.06066042;4.65013646']
found coincidence [13, 268, '-74.08354491;4.68647477']
found coincidence [10, 298, '-74.03576712;4.68521215']
found coincidence [17, 323, '-74.10292579;4.5948839']
found coincidence [16, 348, '-74.08383561;4.69704242']
found coincidence [12, 350, '-74.0706253;4.65976348']
found coincidence [9, 350, '-74.1210189;4.6389489']
found coincidence [11, 350, '-74.05641327;4.68475865']
found coincidence [16, 349, '-74.09592198;4.5509832']
found coincidence [7, 186, '-74.06450274;4.64968983']
found coincidence [14, 22, '-74.13496054;4.61335042']
found coincidence [8, 22, '-74.035675;4.71751199']
found coincidence [8, 167, '-74.04697479;4.66380286']
found coincidence [17, 203, '-74.12839537;4.58622522']
found coincidence [13, 64, '-74.04422124;4.74835453']
found coincidence [22, 159, '-74.08313306;4.62999105']
found coincidence [12, 159, '-74.058589;4.66633391']
found coincidence [8, 271, '-74.09640974;4.67025324']
found coincidence [20, 271, '-74.0414309;4.67450073']
found coincidence [7, 319, '-74.14641041;4.6452448']
found coincidence [9, 245, '-74.14390958;4.56445397']
found coincidence [5, 52, '-74.11492194;4.63442967']
found coincidence [14, 164, '-74.06419679;4.65133928']
found coincidence [15, 202, '-74.10807191;4.56390121']
found coincidence [17, 25, '-74.07863955;4.7121374']
found coincidence [5, 161, '-74.14480317;4.61900105']
found coincidence [14, 159, '-74.05116282;4.66464446']
found coincidence [12, 159, '-74.11066946;4.64519229']
found coincidence [16, 272, '-74.09989585;4.75040091']
found coincidence [10, 78, '-74.05642678;4.69132171']
found coincidence [9, 180, '-74.06401299;4.67741477']
found coincidence [9, 168, '-74.08107437;4.59512095']
found coincidence [8, 201, '-74.08848203;4.66018823']
found coincidence [9, 205, '-74.08848203;4.66018823']
found coincidence [9, 200, '-74.11259715;4.59441724']
found coincidence [15, 201, '-74.11779945;4.63085571']
found coincidence [13, 45, '-74.12627952;4.72776434']
found coincidence [16, 129, '-74.13591989;4.59850305']
found coincidence [13, 182, '-74.10658331;4.60291834']
found coincidence [9, 152, '-74.09277133;4.7171947']
found coincidence [23, 123, '-74.14528022;4.58868849']
found coincidence [13, 134, '-74.16038925;4.63716291']
found coincidence [17, 44, '-74.1314519;4.68976793']
found coincidence [7, 42, '-74.14151576;4.6670359']
found coincidence [9, 46, '-74.08670706;4.57891772']
found coincidence [16, 38, '-74.10420721;4.61562694']
found coincidence [9, 54, '-74.13709899;4.54687405']
found coincidence [4, 54, '-74.09480041;4.68729942']
found coincidence [20, 141, '-74.12967236;4.60961215']
found coincidence [10, 58, '-74.10044811;4.65723903']
found coincidence [12, 278, '-74.09388618;4.56670325']
found coincidence [9, 278, '-74.12511267;4.71524926']
found coincidence [10, 278, '-74.08754323;4.61946827']
found coincidence [7, 353, '-74.1305218;4.64647407']
found coincidence [12, 356, '-74.04533959;4.69698696']
found coincidence [11, 87, '-74.11174918;4.65488605']
found coincidence [16, 87, '-74.0371897;4.72758333']
found coincidence [15, 87, '-74.10589712;4.69598532']
found coincidence [9, 88, '-74.04336357;4.77200843']
found coincidence [18, 286, '-74.02344498;4.76000625']
found coincidence [18, 286, '-74.02344498;4.76000625']
found coincidence [16, 133, '-74.15673606;4.63999148']
found coincidence [19, 45, '-74.18314078;4.60386343']
found coincidence [12, 43, '-74.11666913;4.7156985']
found coincidence [12, 124, '-74.15040873;4.60314241']
found coincidence [15, 54, '-74.12111984;4.5756421']
found coincidence [19, 278, '-74.04415481;4.73656213']
found coincidence [14, 334, '-74.09384689;4.57028465']
found coincidence [12, 336, '-74.11343849;4.71140174']
CPU times: user 37min 48s, sys: 8.48 s, total: 37min 57s
Wall time: 39min 40s

In [66]:
neg_df = pd.DataFrame.from_records(neg_list)

In [67]:
neg_df

,0,1,2,3,4,5
0,14,11,-74.13427637;4.61257783,AV AVENIDA PRIMERA DE MAYO-KR 69 28,KENNEDY,261
1,14,11,-74.13427637;4.61257783,AV AVENIDA PRIMERA DE MAYO-KR 69 28,KENNEDY,261
2,14,11,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310
3,14,98,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310
4,14,98,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310
...,...,...,...,...,...,...
145595,9,23,-74.12992808;4.57033507,KR 19C-CL 51 S 02,TUNJUELITO,-1
145596,22,23,-74.12992808;4.57033507,KR 19C-CL 51 S 02,TUNJUELITO,-1
145597,22,23,-74.14973538;4.68733476,KR 116-CL 22F 2,FONTIBON,-1
145598,22,23,-74.13319791;4.56459794,CL 57-KR 18A S 02,TUNJUELITO,-1
145599,22,312,-74.13319791;4.56459794,CL 57-KR 18A S 02,TUNJUELITO,-1

In [68]:
neg_df.columns = ['hour', 'day_of_year', 'coords', 'address', 'borough', 'cluster_id']

In [69]:
neg_df['year'] = 2019

In [70]:
neg_df.shape

(145600, 7)

In [71]:
def compose_date(years, months=1, days=1, weeks=None, hours=None, minutes=None,
                 seconds=None, milliseconds=None, microseconds=None, nanoseconds=None):
    years = np.asarray(years) - 1970
    months = np.asarray(months) - 1
    days = np.asarray(days) - 1
    types = ('<M8[Y]', '<m8[M]', '<m8[D]', '<m8[W]', '<m8[h]',
             '<m8[m]', '<m8[s]', '<m8[ms]', '<m8[us]', '<m8[ns]')
    vals = (years, months, days, weeks, hours, minutes, seconds,
            milliseconds, microseconds, nanoseconds)
    return sum(np.asarray(v, dtype=t) for t, v in zip(types, vals)
               if v is not None)


neg_df['timestamp'] = compose_date(neg_df['year'], days=neg_df['day_of_year'], hours=neg_df['hour'], minutes=np.zeros(neg_df.shape[0]), seconds=np.zeros(neg_df.shape[0]))
neg_df['date'] = compose_date(neg_df['year'], days=neg_df['day_of_year'])

In [72]:
neg_df = neg_df.join(neg_df.coords.str.split(';',expand=True))

In [73]:
neg_df.rename(columns={0: "x", 1: "y"}, inplace=True)

In [74]:
neg_df

,hour,day_of_year,coords,address,borough,cluster_id,year,timestamp,date,x,y
0,14,11,-74.13427637;4.61257783,AV AVENIDA PRIMERA DE MAYO-KR 69 28,KENNEDY,261,2019,2019-01-11 14:00:00,2019-01-11,-74.13427637,4.61257783
1,14,11,-74.13427637;4.61257783,AV AVENIDA PRIMERA DE MAYO-KR 69 28,KENNEDY,261,2019,2019-01-11 14:00:00,2019-01-11,-74.13427637,4.61257783
2,14,11,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310,2019,2019-01-11 14:00:00,2019-01-11,-74.03494633,4.68848957
3,14,98,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310,2019,2019-04-08 14:00:00,2019-04-08,-74.03494633,4.68848957
4,14,98,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310,2019,2019-04-08 14:00:00,2019-04-08,-74.03494633,4.68848957
...,...,...,...,...,...,...,...,...,...,...,...
145595,9,23,-74.12992808;4.57033507,KR 19C-CL 51 S 02,TUNJUELITO,-1,2019,2019-01-23 09:00:00,2019-01-23,-74.12992808,4.57033507
145596,22,23,-74.12992808;4.57033507,KR 19C-CL 51 S 02,TUNJUELITO,-1,2019,2019-01-23 22:00:00,2019-01-23,-74.12992808,4.57033507
145597,22,23,-74.14973538;4.68733476,KR 116-CL 22F 2,FONTIBON,-1,2019,2019-01-23 22:00:00,2019-01-23,-74.14973538,4.68733476
145598,22,23,-74.13319791;4.56459794,CL 57-KR 18A S 02,TUNJUELITO,-1,2019,2019-01-23 22:00:00,2019-01-23,-74.13319791,4.56459794
145599,22,312,-74.13319791;4.56459794,CL 57-KR 18A S 02,TUNJUELITO,-1,2019,2019-11-08 22:00:00,2019-11-08,-74.13319791,4.56459794

In [75]:
neg_df['accident_id'] = ''
neg_df['severity'] = ''
neg_df['accident_type'] = ''
neg_df['severity_numeric'] = ''
neg_df['date'] = neg_df.timestamp.dt.date
neg_df['day'] = neg_df.timestamp.dt.day
neg_df['month'] = neg_df.timestamp.dt.month

In [76]:
neg_df.head()

,hour,day_of_year,coords,address,borough,cluster_id,year,timestamp,date,x,y,accident_id,severity,accident_type,severity_numeric,day,month
0,14,11,-74.13427637;4.61257783,AV AVENIDA PRIMERA DE MAYO-KR 69 28,KENNEDY,261,2019,2019-01-11 14:00:00,2019-01-11,-74.13427637,4.61257783,,,,,11,1
1,14,11,-74.13427637;4.61257783,AV AVENIDA PRIMERA DE MAYO-KR 69 28,KENNEDY,261,2019,2019-01-11 14:00:00,2019-01-11,-74.13427637,4.61257783,,,,,11,1
2,14,11,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310,2019,2019-01-11 14:00:00,2019-01-11,-74.03494633,4.68848957,,,,,11,1
3,14,98,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310,2019,2019-04-08 14:00:00,2019-04-08,-74.03494633,4.68848957,,,,,8,4
4,14,98,-74.03494633;4.68848957,KR 7-CL 109 2,USAQUEN,310,2019,2019-04-08 14:00:00,2019-04-08,-74.03494633,4.68848957,,,,,8,4

In [77]:
accidents.drop(columns=['accident_id', 'month_name'], inplace=True)

In [86]:
accidents['day_of_year'] = neg_df.timestamp.dt.dayofyear

In [87]:
accidents.timestamp = pd.to_datetime(accidents.timestamp, utc=True).dt.tz_localize(None)

In [97]:
accidents['day'] = accidents.timestamp.dt.day

In [99]:
accidents.head()

,x,y,timestamp,date,year,month,day,day_of_year,hour,address,severity,accident_type,severity_numeric,borough,cluster_id,sample_type
0,-74.134363,4.579297,2019-01-11 14:20:00,2019-01-11,2019,1,11,11,14,KR 26-CL 52B S 2,Injury,Crash,8,TUNJUELITO,-1,1
1,-74.048819,4.665144,2019-01-11 11:30:00,2019-01-11,2019,1,11,11,11,CL 84-KR 8 2,Material damage,Crash,1,CHAPINERO,-1,1
2,-74.173301,4.615589,2019-01-11 23:20:00,2019-01-11,2019,1,11,11,23,KR 80-CL 53A S 2,Injury,Crash,8,KENNEDY,0,1
3,-74.025068,4.725288,2019-01-11 06:30:00,2019-01-11,2019,1,11,98,6,KR 7-CL 150 2,Material damage,Crash,1,USAQUEN,-1,1
4,-74.080770,4.670083,2019-01-10 07:20:00,2019-01-10,2019,1,10,98,7,CL 68-KR 58 2,Injury,Crash,8,BARRIOS UNIDOS,-1,1

In [88]:
accidents = accidents[['x', 'y', 'timestamp', 'date', 'year', 'month',
       'day', 'day_of_year', 'hour', 'address', 'severity', 'accident_type',
       'severity_numeric', 'borough_geo','cluster_id']]

KeyError: "['borough_geo'] not in index"

In [89]:
accidents.rename(columns={"borough_geo": "borough"}, inplace=True)

In [90]:
accidents['sample_type'] = 1

In [91]:
neg_df = neg_df[['x', 'y', 'timestamp', 'date', 'year', 'month',
       'day', 'day_of_year', 'hour', 'address', 'severity', 'accident_type',
       'severity_numeric', 'borough','cluster_id']]

In [92]:
neg_df['sample_type'] = 0

In [100]:
dataset = pd.concat([accidents,neg_df])

In [101]:
dataset

,x,y,timestamp,date,year,month,day,day_of_year,hour,address,severity,accident_type,severity_numeric,borough,cluster_id,sample_type
0,-74.1344,4.5793,2019-01-11 14:20:00,2019-01-11,2019,1,11,11,14,KR 26-CL 52B S 2,Injury,Crash,8,TUNJUELITO,-1,1
1,-74.0488,4.66514,2019-01-11 11:30:00,2019-01-11,2019,1,11,11,11,CL 84-KR 8 2,Material damage,Crash,1,CHAPINERO,-1,1
2,-74.1733,4.61559,2019-01-11 23:20:00,2019-01-11,2019,1,11,11,23,KR 80-CL 53A S 2,Injury,Crash,8,KENNEDY,0,1
3,-74.0251,4.72529,2019-01-11 06:30:00,2019-01-11,2019,1,11,98,6,KR 7-CL 150 2,Material damage,Crash,1,USAQUEN,-1,1
4,-74.0808,4.67008,2019-01-10 07:20:00,2019-01-10,2019,1,10,98,7,CL 68-KR 58 2,Injury,Crash,8,BARRIOS UNIDOS,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145595,-74.12992808,4.57033507,2019-01-23 09:00:00,2019-01-23,2019,1,23,23,9,KR 19C-CL 51 S 02,,,,TUNJUELITO,-1,0
145596,-74.12992808,4.57033507,2019-01-23 22:00:00,2019-01-23,2019,1,23,23,22,KR 19C-CL 51 S 02,,,,TUNJUELITO,-1,0
145597,-74.14973538,4.68733476,2019-01-23 22:00:00,2019-01-23,2019,1,23,23,22,KR 116-CL 22F 2,,,,FONTIBON,-1,0
145598,-74.13319791,4.56459794,2019-01-23 22:00:00,2019-01-23,2019,1,23,23,22,CL 57-KR 18A S 02,,,,TUNJUELITO,-1,0
145599,-74.13319791,4.56459794,2019-11-08 22:00:00,2019-11-08,2019,11,8,312,22,CL 57-KR 18A S 02,,,,TUNJUELITO,-1,0

In [102]:
boroughs = pd.read_csv("../data/localidades.csv")

In [103]:
boroughs.borough.unique()

array(['USAQUEN', 'CHAPINERO', 'SANTA FE', 'SAN CRISTOBAL', 'USME',
       'TUNJUELITO', 'BOSA', 'KENNEDY', 'FONTIBON', 'ENGATIVA', 'SUBA',
       'BARRIOS UNIDOS', 'TEUSAQUILLO', 'LOS MARTIRES', 'ANTONIO NARIÑO',
       'PUENTE ARANDA', 'CANDELARIA', 'RAFAEL URIBE URIBE',
       'CIUDAD BOLIVAR', 'SUMAPAZ'], dtype=object)

In [104]:
boroughs.columns

Index(['id', 'borough', 'area_km2', 'population', 'population_density'], dtype='object')

In [6]:
# boroughs.replace({"Tunjuelito": 'TUNJUELITO', "Chapinero":'CHAPINERO', "Kennedy": 'KENNEDY', "Usaquén": 'USAQUEN', "BarriosUnidos":  'BARRIOS UNIDOS', "CiudadBolívar": 
# 'CIUDAD BOLIVAR', "Fontibón":  'FONTIBON', "PuenteAranda":  'PUENTE ARANDA', "Suba":  'SUBA', "Teusaquillo":
# 'TEUSAQUILLO', "SantaFe":  'SANTA FE', "Bosa":  'BOSA', "SanCristóbal":  'SAN CRISTOBAL', "Engativá":  'ENGATIVA', "RafaelUribeUribe": 
# 'RAFAEL URIBE URIBE', "AntonioNariño":  'ANTONIO NARIÑO', "LosMártires":  'LOS MARTIRES', "LaCandelaria":
# 'CANDELARIA', "Usme": 'USME', "Sumapaz":  'SUMAPAZ'}, inplace=True)

In [105]:
boroughs.drop(columns = ['id'], inplace=True)

In [106]:
dataset = dataset.merge(boroughs, how='left', left_on='borough', right_on='borough')

In [107]:
dataset.head()

,x,y,timestamp,date,year,month,day,day_of_year,hour,address,severity,accident_type,severity_numeric,borough,cluster_id,sample_type,area_km2,population,population_density
0,-74.1344,4.5793,2019-01-11 14:20:00,2019-01-11,2019,1,11,11,14,KR 26-CL 52B S 2,Injury,Crash,8,TUNJUELITO,-1,1,9.91,199430,20124.11
1,-74.0488,4.66514,2019-01-11 11:30:00,2019-01-11,2019,1,11,11,11,CL 84-KR 8 2,Material damage,Crash,1,CHAPINERO,-1,1,38.15,139701,3661.88
2,-74.1733,4.61559,2019-01-11 23:20:00,2019-01-11,2019,1,11,11,23,KR 80-CL 53A S 2,Injury,Crash,8,KENNEDY,0,1,38.59,1088443,28205.31
3,-74.0251,4.72529,2019-01-11 06:30:00,2019-01-11,2019,1,11,98,6,KR 7-CL 150 2,Material damage,Crash,1,USAQUEN,-1,1,65.31,501999,7686.40
4,-74.0808,4.67008,2019-01-10 07:20:00,2019-01-10,2019,1,10,98,7,CL 68-KR 58 2,Injury,Crash,8,BARRIOS UNIDOS,-1,1,11.90,243465,20459.24

In [108]:
weather = pd.read_csv("../data/weather_full.csv")

In [109]:
weather.columns

Index(['time', 'summary', 'icon', 'precipIntensity', 'precipProbability',
       'temperature', 'apparentTemperature', 'dewPoint', 'humidity',
       'windSpeed', 'windBearing', 'cloudCover', 'uvIndex', 'visibility',
       'location', 'pressure', 'windGust', 'precipType', 'ozone',
       'precipAccumulation'],
      dtype='object')

In [110]:
weather.head()

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,windSpeed,windBearing,cloudCover,uvIndex,visibility,location,pressure,windGust,precipType,ozone,precipAccumulation
0,2017-10-27 05:00:00,Clear,clear-night,0.0,0.0,7.0,6.22,6.99,1.00,1.50,320.0,0.00,0.0,8.005,BOSA,NaN,NaN,NaN,NaN,NaN
1,2017-10-27 06:00:00,Clear,clear-night,0.0,0.0,7.0,6.22,6.00,0.93,1.50,320.0,0.13,0.0,8.005,BOSA,NaN,NaN,NaN,NaN,NaN
2,2017-10-27 07:00:00,Partly Cloudy,partly-cloudy-night,0.0,0.0,7.0,6.22,6.99,1.00,1.50,0.0,0.44,0.0,10.003,BOSA,NaN,NaN,NaN,NaN,NaN
3,2017-10-27 08:00:00,Partly Cloudy,partly-cloudy-night,0.0,0.0,9.0,8.51,9.00,1.00,1.50,0.0,0.44,0.0,8.005,BOSA,NaN,NaN,NaN,NaN,NaN
4,2017-10-27 09:00:00,Mostly Cloudy,partly-cloudy-night,0.0,0.0,10.0,10.00,9.99,1.00,1.02,251.0,0.75,0.0,8.005,BOSA,NaN,NaN,NaN,NaN,NaN

In [111]:
dataset['timestamp_floor'] =  dataset.timestamp.dt.floor('H')

In [112]:
weather.time = pd.to_datetime(weather.time)

In [113]:
weather.location.unique()

array(['BOSA', 'ENGATIVA', 'TUNJUELITO', 'KENNEDY', 'FONTIBON',
       'CHAPINERO', 'CIUDAD BOLIVAR', 'ANTONIO NARIÑO', 'CANDELARIA',
       'PUENTE ARANDA', 'RAFAEL URIBE URIBE', 'BARRIOS UNIDOS', 'SUBA',
       'SAN CRISTOBAL', 'SUMAPAZ', 'LOS MARTIRES', 'SANTA FE',
       'TEUSAQUILLO', 'USAQUEN', 'USME'], dtype=object)

In [12]:
# weather.replace({"tunjuelito": 'TUNJUELITO', "chapinero":'CHAPINERO', "kennedy": 'KENNEDY', "usaquen": 'USAQUEN', "barrios unidos":  'BARRIOS UNIDOS', "ciudadbolivar": 
# 'CIUDAD BOLIVAR', "fontibon":  'FONTIBON', "puente aranda":  'PUENTE ARANDA', "suba":  'SUBA', "teusaquillo":
# 'TEUSAQUILLO', "santafe":  'SANTA FE', "bosa":  'BOSA', "san cristobal":  'SAN CRISTOBAL', "engativa":  'ENGATIVA', "rafael uribe": 
# 'RAFAEL URIBE URIBE', "antonio nariño":  'ANTONIO NARIÑO', "los martires":  'LOS MARTIRES', "la candelaria":
# 'CANDELARIA', "usme": 'USME', "sumapaz":  'SUMAPAZ'}, inplace=True)

In [114]:
dataset = dataset.merge(weather, left_on=['borough' , 'timestamp_floor'], right_on=['location', 'time'])

In [115]:
dataset.columns

Index(['x', 'y', 'timestamp', 'date', 'year', 'month', 'day', 'day_of_year',
       'hour', 'address', 'severity', 'accident_type', 'severity_numeric',
       'borough', 'cluster_id', 'sample_type', 'area_km2', 'population',
       'population_density', 'timestamp_floor', 'time', 'summary', 'icon',
       'precipIntensity', 'precipProbability', 'temperature',
       'apparentTemperature', 'dewPoint', 'humidity', 'windSpeed',
       'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'location',
       'pressure', 'windGust', 'precipType', 'ozone', 'precipAccumulation'],
      dtype='object')

In [116]:
dataset.drop(columns = ['timestamp_floor', 'location'], inplace=True)

In [117]:
dataset.rename(columns={"time": "timestamp_darksky"}, inplace=True)

In [120]:
dataset.to_csv('../data/dataset_2019_with_negatives.csv', index=None)

In [119]:
dataset

,x,y,timestamp,date,year,month,day,day_of_year,hour,address,...,windSpeed,windBearing,cloudCover,uvIndex,visibility,pressure,windGust,precipType,ozone,precipAccumulation
0,-74.1344,4.5793,2019-01-11 14:20:00,2019-01-11,2019,1,11,11,14,KR 26-CL 52B S 2,...,1.66,167.0,0.89,4.0,13.489,1018.0,1.66,rain,239.8,NaN
1,-74.1394883,4.57323292,2019-01-11 14:00:00,2019-01-11,2019,1,11,11,14,AV AVENIDA BOYACA-KR 24 2,...,1.66,167.0,0.89,4.0,13.489,1018.0,1.66,rain,239.8,NaN
2,-74.0488,4.66514,2019-01-11 11:30:00,2019-01-11,2019,1,11,11,11,CL 84-KR 8 2,...,1.09,127.0,0.80,0.0,14.019,1018.0,1.52,rain,241.0,NaN
3,-74.1733,4.61559,2019-01-11 23:20:00,2019-01-11,2019,1,11,11,23,KR 80-CL 53A S 2,...,1.65,10.0,0.81,0.0,6.814,1014.8,2.07,rain,237.9,NaN
4,-74.14150261,4.61087396,2019-01-11 23:00:00,2019-01-11,2019,1,11,11,23,KR 72H-CL 37D S 02,...,1.65,10.0,0.81,0.0,6.814,1014.8,2.07,rain,237.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174349,-74.17421687,4.57624236,2019-04-26 16:00:00,2019-04-26,2019,4,26,116,16,KR 75-CL 75D S 02,...,1.62,154.0,0.90,7.0,14.461,1017.9,2.68,rain,246.0,NaN
174350,-74.12992808,4.57033507,2019-01-23 09:00:00,2019-01-23,2019,1,23,23,9,KR 19C-CL 51 S 02,...,2.48,127.0,0.78,0.0,16.093,1017.7,4.72,rain,239.2,NaN
174351,-74.12992808,4.57033507,2019-01-23 22:00:00,2019-01-23,2019,1,23,23,22,KR 19C-CL 51 S 02,...,2.72,129.0,0.77,1.0,16.093,1013.5,4.14,rain,241.0,NaN
174352,-74.13319791,4.56459794,2019-01-23 22:00:00,2019-01-23,2019,1,23,23,22,CL 57-KR 18A S 02,...,2.72,129.0,0.77,1.0,16.093,1013.5,4.14,rain,241.0,NaN
174353,-74.13319791,4.56459794,2019-11-08 22:00:00,2019-11-08,2019,11,8,312,22,CL 57-KR 18A S 02,...,1.47,148.0,0.85,0.0,16.093,1008.7,2.64,rain,246.7,NaN